<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="viewport" content="initial-scale=1, maximum-scale=1.0" />
    
    <link rel="stylesheet" href="/lib/edperm/design/css/bootstrap.css" />
    <link rel="stylesheet" href="/lib/edperm/design/css/skeleton.css" />
    <link rel="stylesheet" href="/lib/edperm/design/css/flaticon.css" />
    <link rel="stylesheet" href="/lib/edperm/design/css/frame.css" />
    <link rel="stylesheet" href="/lib/fontawesome/css/font-awesome.min.css" />
    
    <script src="/lib/jquery/dist/jquery.js"></script>
    <script src="/lib/edperm/design/js/custom_validate.js"></script>
    <script src="/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <title>Exam Scheduler - </title>
</head>
<body>
    <div id="wrapper">
        <header class="blue_bar">
            <div class="container">
                <div class="border_bottom"><!-- Cette div est ici pour encadrer juste le les elements de la barre blue et faire une ligne blanche en dessous d'eux-->
                </div><!-- end border bottom -->
            </div> <!-- end container -->
        </header> <!-- blue_bar -->
        <div class="main">
            <div class="container">
                @RenderBody()
            </div>
        </div>
        <footer> <!-- release the display to see the footer -->
            <div class="container">
                <div class="one column logo">
                        <a href="https://www.umoncton.ca/">
                            <img src="/lib/images/logo_udem_foot.png"/>
                        </a>
                </div> <!-- logo -->
                <!-- +++ -->
                <div class="four columns copyright">
                    <span class="twelve columns"> &copy;copyright 2015 - tous droits reservés </span>
                </div> <!-- user menu dropDown -->
            </div> <!-- end container -->
        </footer>
    </div>
</body>
</html>