@model edpxmschdl.Models.ExamReservation
<!-- va contenir classe du formulaire -->
<div>
    <h3>Examen supervisé - Confirmation du lieu</h3>
    <form  asp-action="ExamReservation" method="post" asp-antiforgery="true">
        <div asp-validation-summary="All"></div>
        <fieldset>
            <legend>Entrer vous coordonnées</legend>
            <div class="form-group">
                <label asp-for="StudentId" >Numéro étudiant :</label>
                <input class="form-control" asp-for="StudentId" />
            </div>
            <div class="form-group">
                <label asp-for="Email">Email :</label>
                <input class="form-control" asp-for="Email" />
            </div>
            <div class="form-group">
                <label asp-for="DateEtHeureExamen">Date de l'examen :</label>
                <input class="form-control" asp-for="DateEtHeureExamen" />
            </div>
            <div class="form-group">
                <label asp-for="TypeDExamen">Type d'examen :</label>
                <select class="form-control" asp-for="TypeDExamen" >
                    <option value="">Chosissez le type d'examen</option>
                    <option value="intra">Intra</option>
                    <option value="final">Final</option>
                </select>
            </div>
            <div>
                <p>
                    L'équipe des services d'encadrement de l'Éducation permanente de l'Université de Moncton <br />
                    invite l'étudiant d'un cours en ligne à confirmer le lieu où <br />
                    il souhaite effectuer son examen supervisé.
                </p>
            </div>
            <div class="form-group">
                <label asp-for="TypeDEndroit">Type d'endroit :</label>
                <input class="form-control" asp-for="TypeDEndroit" />
            </div>
            <div class="form-group">
                <label asp-for="AdresseComplete">Adresse Complète:</label>
                <input class="form-control" asp-for="AdresseComplete" />
            </div>
            <div class="form-group">
                <label asp-for="EstSupervisE">Avez-vous trouvé un superviseur :</label>
                <select class="form-control" asp-for="EstSupervisE" >
                    <option value="">Réponse</option>
                    <option value="true">Oui</option>
                    <option value="false">Non</option> 
                </select>
            </div>
            <div class="form-group">
                <label asp-for="SuperviseurNom">Nom du superviseur :</label>
                <input class="form-control" asp-for="SuperviseurNom"/>
            </div>
            <div class="form-group">
                <label asp-for="SuperviseurEmail">Email du superviseur :</label>
                <input class="form-control" asp-for="SuperviseurEmail"/>
            </div>
            <div class="form-group">
                <label asp-for="SuperviseurTelephone">Téléphone du superviseur :</label>
                <input class="form-control" asp-for="SuperviseurTelephone"/>
            </div>
        </fieldset>
        <div class="text-center">
            <button class="btn btn-primary" type="submit">
                Confirmer la reservation
            </button>
        </div>
    </form>
</div>
