/* here lies the CSS excerpts for the course_view */

/* for the alerts */
#wrapper .main div.alerts_admin {
           position: relative;
           height: 5.932203389830509% /* 35px */;
           margin-left: 7.7%;
           margin-top:;
           border: 1px dotted silver ;
}

#wrapper .main div.alerts_admin span {
          position: relative;
          display: block;
          visibility: hidden;
}

/* Coding for button, inputs etc appearance */
#wrapper .main input[type="button"] {
   font-family: 'fira_sansbook', sans-serif;
   border:1px solid silver;
   -webkit-border-radius:14px;
   -moz-border-radius:14px;
   -o-border-radius:14px;
   border-radius:14px;
}

/* Coding the view title */
#wrapper .main p.view_title {
    position: relative;
    margin-top: 63px;
    text-align: center;
    font-family:'fira_sansbook';
    font-size: 14px;
    border: 1px solid #da9e3c;


}

/*Coding the filter */
#wrapper .main .course_filter {
    position: relative;
    display: none;
    height: 35px;
    margin-top: 7px;
    padding: 1.75px 0 0 0 ;
    background-color:#da9e3c;
    border:;
}

#wrapper .main .course_filter span.filter_title {
   display: block;
   font-family: 'fira_sansbook_italic';
   font-size: ;
   padding: 0 0 0 7px;
   border: ;
}

#wrapper .main .course_filter select {
   position: relative;
   font-family: 'fira_sanshair_italic';
   font-size: 0.656em /* 10.5px */;
   height: 28px;
   cursor: pointer;
   padding-left:;
   margin-left: 14px;
   top:1.75px;
   color:#000;
   border:;

   -webkit-appearance:none;
   -moz-appearance:none;
   -o-appearance:none;
   appearance:none;


   -webkit-border-radius:4px;
   -moz-border-radius:4px;
   -o-border-radius:4px;
   border-radius:4px;
}



/* coding the course list */
#wrapper .main div.course_list { /* this is the div */
    position: relative;
    height: 280px;
    overflow-y: scroll;
    margin-left: 161px;
    border-top:1px solid #D1D1D1 ;
}

#wrapper .main div.course_list ul {
    display: block;
    height: auto}

#wrapper .main div.course_list ul li {
    width: 100%;
    height: 42px ;
    list-style: none;
    padding: 7px 0px 0px 7px;
    margin-bottom: 0;
    border-bottom:1px solid #D1D1D1;
}

#wrapper .main div.course_list ul li:hover {
    background:#0455ad;
}

#wrapper .main div.course_list .active {
    background-color:#0455ad ;
}

#wrapper .main div.course_list ul li:hover a {
    color: #fff;
}

#wrapper .main div.course_list ul li a {
    font-size: 1.094em;
    text-decoration: none;
    text-transform: uppercase;
    outline: none;
    color: #000;
}


#wrapper .main div.course_list ul li .summary {
    position: relative;
    height: 28px;

}

#wrapper .main div.course_list ul li .summary span {
    display: inline-block;
    background:;
    width:28px;
    height:28px;
    font-size: 0.875em /* 14px/16 */;
    padding-top:1.5px;
    text-align:center;
    margin-right: 7px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -o-border-radius: 50px;
    border-radius: 50px;
}

  #wrapper .main div.course_list ul li .summary span:nth-child(1) {
                border:2px solid #f7b325;
            }

  #wrapper .main div.course_list ul li .summary span:nth-child(2) {
                border:2px solid #738210;
            }

  #wrapper .main div.course_list ul li .summary span:nth-child(3) {
                border:2px solid #d06b0e;
            }

  #wrapper .main div.course_list ul li .summary span:nth-child(4) {
                border:2px solid #628b7f;
            }
#wrapper .main .legend {
    position:relative;
    margin-top:70px;
    text-align:center;
    color:#fff;
}

    #wrapper .main .legend span:nth-child(1) {
                background: #f7b325;
            }

  #wrapper .main .legend span:nth-child(2) {
                background:#738210;
            }

  #wrapper .main .legend span:nth-child(3) {
                background:#d06b0e;
            }

  #wrapper .main .legend span:nth-child(4) {
                background:#628b7f;
            }

@media (min-width: 1000px) {
    #wrapper .main div.course_list ul li .summary {
     width: 39.3%;
     margin-left: 14.149862768791245%/*63px*/;
     border: ;
    } /*end of 1st rule*/
}

@media (min-width: 750px) and (max-width: 1000px) {
    #wrapper .main div.course_list ul li {
    height: 63px ;padding: 7px 0px 0px 7px;text-align: center;}/*1st rule*/
    #wrapper .main div.course_list ul li a {
    display: inline-block;width: 100%;}
    #wrapper .main div.course_list ul li .summary {
    display: block;width:100%;margin: auto;}
}/* Larger than tablet */

@media (min-width: 550px) and (max-width: 750px) {
    #wrapper .main div.course_list { }
    #wrapper .main div.course_list ul li {
    height: 63px ;padding: 7px 0px 0px 7px;text-align: center;}/*1st rule*/
    #wrapper .main div.course_list ul li a { display: inline-block; width: 100%;}
    #wrapper .main div.course_list ul li .summary {display: block;width:100%; margin: auto;}
    #wrapper .main p.view_title {-webkit-border-radius: 0;-moz-border-radius: 0; -o-border-radius: 0;border-radius: 0; }
}

@media (min-width: 400px) and (max-width: 550px) {
    #wrapper .main div.course_list { margin: 0;}
    #wrapper .main div.course_list ul li {
    height: 63px;padding: 7px 0px 0px 7px;text-align: center; }/*1st rule*/
    #wrapper .main div.course_list ul li a {display: inline-block;width: 100%;}
    #wrapper .main div.course_list ul li .summary {display: block;width:100%;margin: auto;}
    #wrapper .main p.view_title {-webkit-border-radius: 0;-moz-border-radius: 0; -o-border-radius: 0;border-radius: 0; }
} /*larger than mobile*/


/* ============== coding the gate =================== */
#wrapper .main .course_gate {
    position: relative;
    height: 280px;
    margin-left:0;
    overflow-y:scroll;
    border: 1px solid #D1D1D1;
}

#wrapper .main .course_gate ul.gate_child {
    position: relative;
    height: 280px;
    border:;
}

#wrapper .main .course_gate ul.gate_child li {
    list-style: none;
    min-height: 210px /*70px*/;
    border-bottom: 1px solid #D1D1D1;
}

#wrapper .main .course_gate ul.gate_child li div {
    position: relative;
    height: 100%;
}

#wrapper .main .course_gate ul.gate_child li .student_name {
    display:inline-block;
    position:relative;
    top:3.5px;
    text-transform:capitalize;
    padding: 0 0 0 7px;
    font-size: 0.875em /* 14px/16 */;
    border: ;
}

#wrapper .main .course_gate ul.gate_child li .topBtn {
    position:relative;
    top:3.5px;
}

#wrapper .main .course_gate ul.gate_child li .noteBtn {
    margin-left:0px;
}

#wrapper .main .course_gate .msgBtn {
    max-height:19px;
    position:relative;
}

#wrapper .main .course_gate ul.gate_child li .select_msg {
    height:19px;
    border-bottom-left-radius:10px;
    border-top-left-radius:10px;
}

#wrapper .main .course_gate ul.gate_child li .envoi_msg {
    height:19px;
    margin-left:0px;
    border-bottom-left-radius:0px;
    border-bottom-right-radius:10px;
    border-top-right-radius:10px;
    border-top-left-radius:0px;
}

    #wrapper .main .course_gate ul.gate_child li div.exam_intra {
    position:relative;
    height:auto;
    margin-left:0px;
    }

#wrapper .main .course_gate ul.gate_child li .exam_intra .section_title{
    display: inline-block;
    text-align:center;
    font-family:'fira_sansbook';
    font-size:11px;
    position: relative;
    border:;
}

#wrapper .main .course_gate ul.gate_child li p.info_couple{
    position:relative;
    height:auto;
    margin-bottom:0;
    border:;
}

#wrapper .main .course_gate ul.gate_child li p .info_name{
    position:relative;
    display:inline-block;
    padding-left:7px;
    font-size:12px;
}

#wrapper .main .course_gate ul.gate_child li p .info_value{
    position:relative;
    display:inline-block;
    text-align:right;
    font-size:10px;
}

#wrapper .main .course_gate ul.gate_child li p .assign_center{
    position:relative;
    top:7px;
    height:21px;
    text-align:center;
    font-size:10px;
    background:transparent;
}

#wrapper .main .course_gate ul.gate_child li .note_canvas{
    position:relative;
    height:35px;
    display:none;
}

#wrapper .main .course_gate ul.gate_child li .note_canvas input{
    display:block;
    text-align:left;
    font-size:14px;
    border:1px solid #7aa3c7;
}

    #wrapper .main .course_gate ul.gate_child li div.exam_final {
    position:relative;
    height:auto;
    margin-left:0px;
    }

    #wrapper .main .course_gate ul.gate_child li .exam_final .section_title{
    display: inline-block;
    text-align:center;
    font-family:'fira_sansbook';
    font-size:11px;
    position: relative;
    border:;
}

#wrapper .main .course_gate ul.gate_child li div .noLeft {
    margin-left: 0;
    padding: 0 0 0 7px;
}

#wrapper .main .course_gate ul.gate_child li div input {
    font-size: 0.656em /*10.5px*/;
}


/* ==================== Media queries ====================*/
/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 750px) {}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}
