﻿body {
    background-color:#ca9c46;
    height:auto;
}


#wrapper { position:;
           background: url('../../images/bg_blurred.png'), url('../../images/bg_blurred.png'),  url('../../images/bg_welcome.png');
           background-repeat: no-repeat, no-repeat, repeat-x;
           background-position: top , 48% 80%, 0% 0%;
           width: 100%;
           min-height:728px;
           margin: 0;
           border:;
 }
/*Here we overwrite some styles that are coming from the frame.css, so more detailed rules for some elements of the dashboard page are on the 
    frame.css page. Here we just want to remove the blue bars of the header and footer */
#wrapper header.blue_bar { /* this rule has some modifications in media queries*/
       background: transparent;
       border-bottom:1px solid #fff;

}
#wrapper .blue_bar .current_section {
                /* disappears when viewport's width goes below 1000*/
                 visibility:;
                 border:;
}
#wrapper .blue_bar .documentation {
                border: none;
}
#wrapper .blue_bar .user_name {
                border:none;
}

#wrapper footer { /* this rule has modifications in the media queries */
                position: relative;
                width: 100%;
                height: 42px;
                overflow: hidden;
                background: transparent;
                border-top:1px solid #fff;
}


/* The real styles for the dashboard page starts here */


/* coding the sessionList*/

    #wrapper .main .sessionList {
        position:relative;
        margin-left:30%;
        margin-top:84px;
        height:42px;
        max-height:150px;
        color:#fff;
        padding:0 0 0 9%;
        background-color:#7aa3c7;
        border:1px solid #b6cce0;
        -webkit-border-radius:4px;
        -moz-border-radius:4px;
    }
    #wrapper .main div.sessionList ul {
        position:relative;
        height:inherit;
        overflow-y:auto;
        background:transparent;
        border:;
    }
    #wrapper .main div.sessionList ul li {
       list-style:none;
       text-align:center;
       font-family:'fira_sansbook', sans-serif;
       height:28px;
       border-bottom:1px solid #fff;
            }
    #wrapper .main div.sessionList ul li a {
       text-decoration:none;
       outline:none;
        }

     /*Current Session Overview here */
    #wrapper .main .currentSessionOverview {
        position: ;
        margin-top:56px;
        margin-left:8%;
        height:200px;
        border:;
    }

        #wrapper .main .currentSessionOverview a {
        text-decoration:none;
        outline:none;
        color:#fff;
    }

        #wrapper .main .currentSessionOverview
        .courseOverview,
        .studentOverview,
        .examCenterOverview {
            position:relative;
            margin-left:70px;
            height:177px;
            background-color:#022958;
            color:#ffffff;
            border:7px solid #b6cce0;
            -webkit-box-shadow:1px 1px 7px #000;
            box-shadow:1px 1px 7px #000;
            background-clip: padding-box;
            -webkit-border-radius:28px;
            -moz-border-radius:17px;
                 border-radius:28px;
        }
    #wrapper .main .currentSessionOverview .examCenterOverview {
           margin-left:;
           
    }

        #wrapper .main .currentSessionOverview .view_title {
            display:block;
            height:auto;
            font-family:'fira_sanshair';
            text-align:center;
            font-size:28px;
        }
 #wrapper .main .currentSessionOverview .totalEntries {
            height:77px;
            border:;
        }

        #wrapper .main .currentSessionOverview .add {
            position:relative;
            left:8px;
            margin-top:12px;
            border-bottom-left-radius:42px;
            border-top-left-radius:42px;
            background:#fff;
            text-align:center;
            
        }
       #wrapper .main .currentSessionOverview .add span {
            font-size:28px;
            color:#022958;
        }

 #wrapper .main .currentSessionOverview .totalEntries span {
            color:#fff;
            display:block;
            width:50%;
            margin-left:39%;
            text-align:center;
            font-size:42px;
            border:;
        }

        #wrapper .main .currentSessionOverview .tags {
            position:relative;
            height:28px;
            margin-left:16px;
            border:;
            white-space: nowrap;
        }

  #wrapper .main .currentSessionOverview .tags .tag_singleton {
            display:block;
            width:28px;
            height:inherit;
            text-align:center;
            -webkit-border-radius:50px;
            border-radius:50px;
            margin-right:-1px;
        }
  #wrapper .main .currentSessionOverview .tags .tag_singleton:nth-child(4) {
            margin-right:0;
        }

  #wrapper .main .currentSessionOverview .tags span:nth-child(1) {
                border:2px solid #f7b325;
            }

  #wrapper .main .currentSessionOverview .tags span:nth-child(2) {
                border:2px solid #738210;
            }

  #wrapper .main .currentSessionOverview .tags span:nth-child(3) {
                border:2px solid #d06b0e;
            }

  #wrapper .main .currentSessionOverview .tags span:nth-child(4) {
                border:2px solid #628b7f;
            }

      #wrapper .main div.createSession {
        position:relative;
        margin-left:30%;
        margin-top:;
        height:35px;
        border:;
    }

        #wrapper .main .createSession .createSessionBtn {
            display:block;
            border:none;
            background-color:#f8be46;
            text-align:center;
            padding:7px 0px 0px 0px;
            color:#022958;
            margin-top:21px;
            height:35px;
            width:100%;
            border:1px solid #da9e3c /*#58640c*/;
            -webkit-border-radius:4px;
            -moz-border-radius:4px;
        }

            #wrapper .main .createSession .createSessionBtn:hover {
                color:#fff;
                -webkit-transition:ease 0.3s all;
                transition:ease 0.3s all;
            }

    /* styling the tooltips for the views contents*/
    #wrapper .main .insights {
        display:block;
        height:28px;
        border-radius:4px;
    }

    #wrapper .main .insights .read_insight {
        width:inherit;
        display:block;
        text-align:center;
        margin-top:3.5px;
        font-size:14px;
        color:#fff;
    }
