@font-face {
	font-family: "Flaticon";
	src: url("flaticon.eot");
	src: url("flaticon.eot#iefix") format("embedded-opentype"),
	url("flaticon.woff") format("woff"),
	url("flaticon.ttf") format("truetype"),
	url("flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {
	font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}.flaticon-add121:before {
	content: "\e000";
}
.flaticon-approve9:before {
	content: "\e001";
}
.flaticon-back28:before {
	content: "\e002";
}
.flaticon-chat44:before {
	content: "\e003";
}
.flaticon-circular191:before {
	content: "\e004";
}
.flaticon-circular194:before {
	content: "\e005";
}
.flaticon-close33:before {
	content: "\e006";
}
.flaticon-configuration12:before {
	content: "\e007";
}
.flaticon-double89:before {
	content: "\e008";
}
.flaticon-down51:before {
	content: "\e009";
}
.flaticon-exclamation22:before {
	content: "\e00a";
}
.flaticon-favourite15:before {
	content: "\e00b";
}
.flaticon-internet28:before {
	content: "\e00c";
}
.flaticon-like47:before {
	content: "\e00d";
}
.flaticon-menu33:before {
	content: "\e00e";
}
.flaticon-minus65:before {
	content: "\e00f";
}
.flaticon-mode:before {
	content: "\e010";
}
.flaticon-placeholder14:before {
	content: "\e011";
}
.flaticon-right127:before {
	content: "\e012";
}
.flaticon-search67:before {
	content: "\e013";
}
