/* styling of the different ajax loaded contents */

/* ~~~~~~~~~~~~~~~~~~~~~~~~~ styling of the alerts & Co ~~~~~~~~~~~~~~~~~~~~~~~~~ */

#wrapper .main div.mount_session {
           position: relative;
           display: block;
           height: 400px;
           margin-left: 7.7%;
           margin-top:6%;
           margin-bottom:14px;
           overflow:scroll;
           border: 7px solid #022958 ;
}

#wrapper .main div.alerts_admin {
           position: relative;
           height: 35px;
           margin-left: 7.7%;
           margin-top:;
           border: 1px dotted silver ;
}

#wrapper .main .write_db_error {
             background-color:#d06b0e;
           color:#fff;
}

#wrapper .main .write_db_success {
               background-color:#738210;
           color:#fff;
}

#wrapper .main div.alerts_admin span {
          position: relative;
          display: block;
          visibility: hidden;
}

 #wrapper .main select {
  position: relative;
  font-family:'fira_sansbook', sans-serif ;
  font-size: 12px;
  color: #022958;
  background: url("../images/down.png") no-repeat right #fff;
  background-size: 7%;
  border: none;
  border-bottom: 1px solid #022958;
  -webkit-appearance:none;
  }


/*  @@@@@@@ @@@@@@@@@ coding the first step @@@@@@@ @@@@@@@@@ */


#wrapper .main div.mount_session .first_step {
           position:relative;
           height: auto;
           margin-left:17.5%;
           margin-top: 12.277% /* 77px */;
           margin-bottom: 150px;
           overflow-y:;
           z-index: ; /* is the highest when the first step is the focus */
           background:;
           visibility: ;
           border:;
 }

/* End of first step */

/* ############## ############ Adding a course ############## ############ */

#wrapper .main .mount_session .second_step {
           position: relative;
           height: auto;
           border: ;
 }

#wrapper .main .mount_session .second_step .import_file {
    position: relative;
    height: 28px;
    border-bottom: 1px dotted #000;
}

#wrapper .main .mount_session .second_step p span{
    display: block;
    font-style: italic;
    font-size: 14px;
    position: relative;
    margin-left: 14px;
}

#wrapper .main .mount_session .second_step .insert_manually {
   position: relative;
   height: auto;
   float: left;
   border: ;
}

#wrapper .main .mount_session .second_step .courseInstant {
   position: relative;
   height: 200px;
   overflow-y:scroll;
   border: ;
}

#wrapper .main .mount_session .second_step .courseInstant ul li {
   display: block;
   position: relative;
   background: #022958;
   width: 48%;
   height: 28px;
   margin-left: 28px;
   padding: 0px 3.5px 0px 3.5px;
   list-style: none;
   margin-bottom: 14px;
}

#wrapper .main .mount_session .second_step .courseInstant ul li a {
  text-decoration: none;
  outline: none;
  color: #fff;
}
/* &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&  Coding for the third step &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&& */

#wrapper .main .mount_session .third_step {
   border:;
}
    #wrapper .main .mount_session .third_step p {
        position:relative;
        padding-left:14px;
    }
    #wrapper .main .mount_session .third_step .step_title {
        text-align:center;
        font-size:;
        background-color:#628b7f;
        color:#fff;
    }

/* ############## ############ End Adding a course ############## ############ */

#wrapper .main .mount_session input[type="text"]{
           position: relative;
           display: block;
           font-family: 'fira_sansbook', sans-serif;
           border: none;
           border-bottom: 1px solid #D1D1D1;
           background:;
}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~ styling of the exam centre forms ~~~~~~~~~~~~~~~~~~~~~~~~~ */


/* ==============================   FONTS  ======================= */

@font-face {
    font-family: 'fira_sansbook';
    src: url('firasans-book-webfont.eot');
    src: url('firasans-book-webfont.eot?#iefix') format('embedded-opentype'),
         url('firasans-book-webfont.woff2') format('woff2'),
         url('firasans-book-webfont.woff') format('woff'),
         url('firasans-book-webfont.ttf') format('truetype'),
         url('firasans-book-webfont.svg#fira_sansbook') format('svg');
    font-weight: normal;
    font-style: normal;

}
