/* students.css */
html {
  box-sizing: border-box;
  width: 100%;
  height: auto;
}

a {
    text-decoration: none;
}

body { margin:0;
       height: 100%;
       overflow:;
}

/* = = = = = = = = = = = = = = = = = = = = Styling the header = = = = = = = = = = = = = = = = = = = = = = = = = =  */

#wrapper header.blue_bar { /* this rule has some modifications in media queries*/
                position: relative;
                width: 100%;
                height: 49px;
                overflow:;
                background: url(../../images/bg_header.png) repeat-x;
}

#wrapper .blue_bar a {
                text-decoration: none;
                outline: 0;
                color: #FFF;
                    }

#wrapper .blue_bar .logo,
         .current_section,
         .documentation,
         .user_name {
                position: relative;
                width: auto;
                height: auto;
}

/* styling the position of the divs containing the p tags for the blue bar */

#wrapper .blue_bar .logo {
                padding:;
                border:;
}

#wrapper .blue_bar .current_section {
                /* disappears when viewport's width goes below 1000*/
}

#wrapper .blue_bar .documentation {
                margin-left: 158px;
                border: ;
}

#wrapper .blue_bar .user_name {
                margin-left:18px;
                border-left: 1px dotted #fff;
                border-right: 1px dotted #fff;
}

/* styling the typography for the p tags inside the blue bar */

#wrapper .blue_bar .logo p {
                position: relative;
                font-family:'fira_sansbook', sans-serif;
                font-size: 1.125em /* 18px/16 */;
                color: #ffffff;
                margin-top:9px;
                padding:;
                border: ;
}

#wrapper .blue_bar .current_section p {
                position: relative;
                font-family:'fira_sansbook', sans-serif;
                font-size: 0.9375em /*15px/16*/;
                color: #ffffff;
                margin-top: .75em /* 12px/16 */;
                padding: ;
                border: ;
}



#wrapper .blue_bar .documentation p {
                position: relative;
                font-family:'fira_sansbook', sans-serif;
                font-size: 1.125em /* 18px/16 */;
                color: #ffffff;
                margin-top: .5625em /* 9px/16 */;
                padding: ;
                border:;
}



#wrapper .blue_bar .user_name p {
                position: relative;
                font-family:'fira_sansbook', sans-serif;
                font-size: 1.125em /* 18px/16 */;
                color: #ffffff;
                text-align: center;
                margin-top: .5625em /* top:9px/16 */;
                padding:;
                border: ;
}


/* = = = = = = = = = = = = = = = = = = = = Styling the main = = = = = = = = = = = = = = = = = = = = = = = = = =  */

#wrapper .main {
                position: relative;
                height: 80%;
                min-height:590px;
                border: ;
}

/* = = = = = = = = = = = = = = = = = = = = Styling the footer = = = = = = = = = = = = = = = = = = = = = = = = = =  */

#wrapper footer { /* this rule has modifications in the media queries */
                position: relative;
                width: 100%;
                height: 42px;
                margin-bottom: 0;
                overflow: hidden;
                background: url(../../images/bg_header.png) repeat-x;

}

#wrapper footer .logo {
                position: relative;
                top: 3.5px;
}

#wrapper footer .logo img {
                display:block;
                position: relative;
                max-width: 100%;
                height: auto;
}




#wrapper footer .copyright {
                position: relative;
                top:10.5px;
                left: 565px;
                text-align: right;
}

#wrapper footer .copyright span {
                display: inline-block;
                font-family: 'fira_sansbook';
                color: #fff;
                font-size: 14px;
}

/* styling the typography for the p tags inside the blue bar */

#wrapper footer .logo p {
                position: relative;
                font-family:'fira_sansbook', sans-serif;
                font-size: 1.125em /* 18px/16 */;
                color: #ffffff;
                margin-top: .5625em /* 9px/18 */;
}


#wrapper footer .user_name p {
                position: relative;
                font-family:'fira_sansbook', sans-serif;
                font-size: 1.125em /* 18px/16 */;
                color: #ffffff;
                text-align: center;
                margin-top: .5625em /* top:9px/16 */;
                padding:;
                border: ;
}

/* ==================== Media queries ====================*/
@media (min-width: 750px) and (max-width: 1000px) {
       #wrapper header.blue_bar { min-height:147px;height:auto;text-align:center;background:#103960;}
       #wrapper .blue_bar .current_section {display: none;}
       #wrapper .blue_bar .logo {width:100%;height: 42px;margin: 0;}
    #wrapper .blue_bar  .current_section {width:100%;height: 42px;margin: 0;}
    #wrapper .blue_bar  .documentation {width:100%;height: 42px;margin: 0;}
    #wrapper .blue_bar  .user_name {width:100%;height: 42px;margin: 0;border:none;}
    #wrapper footer {width:100%; height:98px;background:#103960;}
    #wrapper footer .logo { width: 100%; height: 42px;text-align:center;}
    #wrapper footer .logo img {margin:auto;}
    #wrapper footer .copyright { width: 100%; height: 42px;top:0;left:0;text-align:center;}
}/* Larger than tablet */

@media (min-width: 550px) and (max-width: 750px) {
       #wrapper header.blue_bar { min-height:147px;height:auto;text-align:center;background:#103960;}
       #wrapper .blue_bar .current_section {display: none;}
       #wrapper .blue_bar .logo {width:100%;height: 42px;margin: 0;}
    #wrapper .blue_bar  .current_section {width:100%;height: 42px;margin: 0;}
    #wrapper .blue_bar  .documentation {width:100%;height: 42px;margin: 0;}
    #wrapper .blue_bar  .user_name {width:100%;height: 42px;margin: 0;border:none;}
    #wrapper footer {width:100%; height:98px;background:#103960;}
    #wrapper footer .logo { width: 100%; height: 42px;text-align:center;}
    #wrapper footer .logo img {margin:auto;}
    #wrapper footer .copyright { width: 100%; height: 42px;top:0;left:0;text-align:center;}
}/* Larger than tablet */

@media (min-width: 400px) and (max-width: 550px) {
       #wrapper header.blue_bar { min-height:147px;height:auto;text-align:center;background:#103960;}
       #wrapper .blue_bar .current_section {display: none;}
       #wrapper .blue_bar .logo {width:100%;height: 42px;margin: 0;}
    #wrapper .blue_bar  .current_section {width:100%;height: 42px;margin: 0;}
    #wrapper .blue_bar  .documentation {width:100%;height: 42px;margin: 0;}
    #wrapper .blue_bar  .user_name {width:100%;height: 42px;margin: 0;border:none;}
    #wrapper footer {width:100%; height:98px;background:#103960;}
    #wrapper footer .logo { width: 100%; height: 42px;text-align:center;}
    #wrapper footer .logo img {margin:auto;}
    #wrapper footer .copyright { width: 100%; height: 42px;top:0;left:0;text-align:center;}
}/* Larger than tablet */



/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 750px) {}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}


/* ==============================   FONTS  ======================= */

@font-face {
    font-family: 'fira_sansbook';
    src: url('firasans-book-webfont.eot');
    src: url('firasans-book-webfont.eot?#iefix') format('embedded-opentype'),
         url('firasans-book-webfont.woff2') format('woff2'),
         url('firasans-book-webfont.woff') format('woff'),
         url('firasans-book-webfont.ttf') format('truetype'),
         url('firasans-book-webfont.svg#fira_sansbook') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'fira_sansbook_italic';
    src: url('firasans-bookitalic-webfont.eot');
    src: url('firasans-bookitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('firasans-bookitalic-webfont.woff2') format('woff2'),
         url('firasans-bookitalic-webfont.woff') format('woff'),
         url('firasans-bookitalic-webfont.ttf') format('truetype'),
         url('firasans-bookitalic-webfont.svg#fira_sansbook_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'fira_sanshair';
    src: url('firasans-hair-webfont.eot');
    src: url('firasans-hair-webfont.eot?#iefix') format('embedded-opentype'),
         url('firasans-hair-webfont.woff2') format('woff2'),
         url('firasans-hair-webfont.woff') format('woff'),
         url('firasans-hair-webfont.ttf') format('truetype'),
         url('firasans-hair-webfont.svg#fira_sanshair') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'fira_sanshair_italic';
    src: url('firasans-hairitalic-webfont.eot');
    src: url('firasans-hairitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('firasans-hairitalic-webfont.woff2') format('woff2'),
         url('firasans-hairitalic-webfont.woff') format('woff'),
         url('firasans-hairitalic-webfont.ttf') format('truetype'),
         url('firasans-hairitalic-webfont.svg#fira_sanshair_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}
