@model SupervisorIndexViewModel

<h2>Index</h2>

<p>
    <a asp-action="Add">Add new Supervisor</a>
</p>

<table>
    <thead>
        <tr>
            <th>
                First Name
            </th>
            <th>
                Last Name
            </th>
            <th>
                Email
            </th>
            <th>
                Day Phone Number
            </th>
            <th>
                Night Phone Number
            </th>
            <th>
               Approved
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach(var supervisor in Model.Supervisors)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => supervisor.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => supervisor.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => supervisor.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => supervisor.DayPhoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => supervisor.NightPhoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => supervisor.IsApprouved)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@supervisor.SupervisorId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@supervisor.SupervisorId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@supervisor.SupervisorId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<div page-model="@Model.PagingInfo" page-action="Index" page-classes-enabled="true"
     page-class="btn" page-class-normal="btn-secondary" page-class-selected="btn-primary"
     page-index-for="supervisor" class="btn-group pull-right m-1">
</div>