@model IEnumerable<Enrollment>
<table class="table">
    <thead>
        <tr>
            <th>Course Name</th>
            <th>Faculty</th>
            <th>Departement</th>
            <th>Total Enrolled</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var enrollment in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => enrollment.Student.FirstName)</td>
                <td>@Html.DisplayFor(modelItem => enrollment.Course.Sigle)</td>
                <td>@Html.DisplayFor(modelItem => enrollment.Session)</td>
                <td>@Html.DisplayFor(modelItem => enrollment.AnneeAcademique)</td>
                <td>
                    <a asp-action="Details" asp-route-id="@enrollment.EnrollmentId">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>