@model EnrollementIndexViewModel

<h2>Education Permanente - Etudiants inscrits</h2>

<table class="table">
    <tr>
        <td>Session : </td><td>@Model.Filter.Session</td>
    </tr>
    <tr>
        <td>Course :</td><td>@Model.Filter.Course</td>
    </tr>
    <tr>
        <td>School Year:</td><td>@Model.Filter.SchoolYear</td>
    </tr>
</table>
<table class="table">
    <tr>
        <td>Number of student enrolled :</td><td>@Model.Filter.TotalEnrolled</td>
    </tr>
    <tr>
        <td>Number of students out :</td><td>#</td>
    </tr>
</table>
@if(Model.Filter.Course == "All")
{
    <table class="table">
        <thead>
            <tr>
                <th>Course Name</th>
                <th>Faculty</th>
                <th>Departement</th>
                <th>Total Enrolled</th>
            </tr>
        </thead>
        <tbody>
        @foreach (var enrolled in Model.Enrollments)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => enrolled.Course.Sigle)</td>
                <td>Faculty</td>
                <td>Departement</td>
                <td>@Html.DisplayFor(modelItem => Model.EnrollmentGroup.First(id => enrolled.Course.CourseID == id.CourseID).StudentCount )</td>
                <td>
                    <a asp-action="Details">Details</a>
                </td>
            </tr>
            
        }
        </tbody>
    </table>
}


@* <div page-model="@Model.PagingInfo" page-action="Index" page-classes-enabled="true"
     page-class="btn" page-class-normal="btn-secondary" page-class-selected="btn-primary"
     page-index-for="enrollment" class="btn-group pull-right m-1">
</div> *@