@model IEnumerable<Enrollment>
    
<table class="table">
    <thead>
        <tr>
            <th>Full name</th>
            <th>Faculty</th>
            <th>Department</th>
            <th>Enrollment Date</th>
            <th>Dropped</th>
        </tr>
    </thead>
    <tbody>
        details - students - reservations
    </tbody>
</table>