@model StudentIndexViewModel

<h2>Index</h2>

<p>
    <a asp-action="Add">Add new Student</a>
</p>
<table>
    <thead>
        <tr>
            <th>
                Ni
            </th>
            <th>
                First Name
            </th>
            <th>
                Last Name
            </th>
            <th>
                Email
            </th>
            <th>
                Phone Number
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach(var student in Model.Students)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => student.Ni)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => student.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => student.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => student.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => student.DayPhoneNumber)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@student.StudentId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@student.StudentId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@student.StudentId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<div page-model="@Model.PagingInfo" page-action="Index" page-classes-enabled="true"
     page-class="btn" page-class-normal="btn-secondary" page-class-selected="btn-primary"
     page-index-for="student" class="btn-group pull-right m-1">
</div>