@model CourseIndexViewModel

<h2>Index</h2>

<p>
    <a asp-action="Add">Add new Course</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Sigle
            </th>
            <th>
                Nom
            </th>
            <th>
                Crédits
            </th>
        </tr>
    </thead>
    <tbody>
    @foreach (var course in Model.Courses)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => course.Sigle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => course.Nom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => course.Credits)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@course.CourseID">Edit</a> |
                <a asp-action="Details" asp-route-id="@course.CourseID">Details</a> |
                <a asp-action="Delete" asp-route-id="@course.CourseID">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>
<div page-model="@Model.PagingInfo" page-action="Index" page-classes-enabled="true"
     page-class="btn" page-class-normal="btn-secondary" page-class-selected="btn-primary"
     page-index-for="course" class="btn-group pull-right m-1">
</div>
